<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
  <form [formGroup]="editForm" enctype="multipart/form-data">
    
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" >
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"  email>
      <mat-error *ngIf="editForm.get('email')?.hasError('email')">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" >
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Profile Image</mat-label> <br>
      <div class="input-container">
        <button mat-button>
          <mat-icon>attach_file</mat-icon> Choose File
        </button>
        <input matInput type="file" (change)="onFileSelected($event)" />
        <pre></pre>
      </div>
    </mat-form-field>
    
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Close</button>
  <button mat-button color="primary" (click)="onSaveClick()">Update</button>
</mat-dialog-actions>
