.users-table {
    width: 100%;
    overflow-x: auto;
  }

  .title{
    margin-right: 10%;
    margin-left: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .primary-button {
    margin-left: auto;
  }

  .edit-btn{
    color: green;
  }

  .delete-btn{
    color: red;
  }
  