.users-table {
    width: 100%;
    overflow-x: auto;
  }

  .title{
    margin-right: 10%;
    margin-left: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  
  .flex {
    display: flex;
    justify-content: space-between; /* Align items to the right end */
    align-items: center; /* Center items vertically */
  }
  
  /* Additional styles for button */
  .primary-button {
    margin-left: auto; /* Automatically pushes the button to the right */
  }

  .edit-btn{
    color: green;
  }

  .delete-btn{
    color: red;
  }
  