.centered-card {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  
  .mat-card {
    width: auto;
    margin: 0 auto;
  }

  mat-form-field{
    width: 330px;
  }

  .centered-button {
    display: flex;
    justify-content: center;
  }

  .return {
    display: flex;
    align-items: center;
  }
  
  .back-btn {
    margin-right: 8px;
  }
  