<div class="return">
  <button mat-icon-button class="back-btn" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h5 class="title" (click)="goBack()" style="cursor: pointer;">Back</h5>
</div>

<div class="centered-card">
  <mat-card>
    <mat-card-header>
      <!-- Center the title using Angular Flex Layout -->
      <mat-card-title class="mat-card-title-centered">User Account Details</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content *ngIf="userInfo" class="mat-card-content-centered">
      
      <ul>
        <!-- <li>ID: {{ userInfo.id }}</li>
        <li>Last Login: {{ userInfo.last_login }}</li> -->
        <img *ngIf="userInfo.profile_image" [src]="userInfo.profile_image" alt="Profile Image" class="profile-image">

        <li>Username: {{ userInfo.username }}</li>
        <li>Name: {{ userInfo.name }}</li>
        <li>Email: {{ userInfo.email }}</li>
      </ul>
     
      <mat-divider></mat-divider> <br>
      <button mat-raised-button color="primary" (click)="editUser(userInfo)" class="mat-button-centered">Edit User Profile</button>

    </mat-card-content>
  </mat-card>
</div>
