<div class="container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>404 - Not Found</mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="../../../assets/not-found.jpg" alt="Not Found Image"> -->
      <mat-card-content>
        <p>Sorry, the page you are looking for does not exist or you do not have permission to access it.</p>
        <p>Please check the URL or contact the administrator for assistance.</p>
      </mat-card-content>
      <mat-card-actions>
         <button mat-raised-button color="primary" (click)="goBack()">Go to Home</button>
      </mat-card-actions> 
    </mat-card>
  </div>
  